{% extends "layouts/main.njk" %}
{% from "components/button/macro.njk" import LBCamdenButton %}

{% set pageTitle = "Referral received" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Page 32 of 33</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">Referral received</h1>

        <p class="govuk-body">Thank you for making a referral for mental health social care</p>

        <h2 class="govuk-heading-m">What happens next</h2>
        <p class="govuk-body">We’ll send you an email confirming your referral has been received. Your referral will be processed within 1 working day, then it’ll be triaged by the mental health social care team.</p>
        <p class="govuk-body">If you’ve requested we contact you first, we’ll use the contact details you’ve provided. Otherwise, we’ll contact the person you’ve referred or their next of kin if they cannot be reached.</p>

        <h2 class="govuk-heading-m">Useful information</h2>
        <p class="govuk-body">If you have safeguarding concerns, such as abuse or neglect. Instead, call <a class="govuk-link" href="tel:02079744444">020 7974 4444</a> and when prompted say "Safeguarding". You can also <a class="govuk-link" href="https://www.camden.gov.uk/safeguarding-adults#qubd">report suspected abuse online</a>.</p>
        <p class="govuk-body">For medical emergencies, psychiatric crisis or medication reviews, use the <a class="govuk-link" href="https://www.northlondonmentalhealth.nhs.uk/crisis-referrals-/">North London Foundation Trust (NLFT) crisis line</a> or call 999.</p>
        <p class="govuk-body">If you’re worried about a child or young person, <a class="govuk-link" href="https://www.camden.gov.uk/are-you-worried-about-a-child">find ways to report a vulnerable child or child abuse</a>.</p>

        {{ LBCamdenButton({
          text: "View submission email",
          href: "/mental-health-referral/submission-email",
          classes: "lbcamden-button--secondary"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
