{% extends "layouts/main.njk" %}

{% set pageTitle = "You should not use this referral form" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="/mental-health-referral/mental-health-conditions-check" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">You should not use this referral form</h1>

        <p class="govuk-body">This is for referring someone with a presenting mental health need for mental health social care.</p>

        <p class="govuk-body">If they do not have any mental health conditions with a confirmed or suspected diagnosis but they still need support, you can <a class="govuk-link" href="https://www.camden.gov.uk/adult-social-care-referral">make a referral to Adult Social Care</a>.</p>
      </div>
    </div>
  </div>
{% endblock %}
