{% extends "layouts/main.njk" %}
{% from "macros/forms.njk" import errorSummary %}
{% from "components/button/macro.njk" import LBCamdenButton %}

{% set pageTitle = page.title %}
{% set answerData = formData or data %}
{% set errors = errors or {} %}

{% macro errorMessage(id, errors) %}
  {% if errors and errors[id] %}
    <p id="{{ id }}-error" class="govuk-error-message">
      <span class="govuk-visually-hidden">Error:</span> {{ errors[id] }}
    </p>
  {% endif %}
{% endmacro %}

{% macro fieldHint(field) %}
  {% if field.hint %}
    <div id="{{ field.name }}-hint" class="govuk-hint">{{ field.hint }}</div>
  {% endif %}
{% endmacro %}

{% macro describedBy(field, errors) %}
  {%- if field.hint -%}{{ field.name }}-hint{%- endif -%}
  {%- if errors and errors[field.name] -%}{% if field.hint %} {% endif %}{{ field.name }}-error{%- endif -%}
{% endmacro %}

{% macro renderTextField(field, answerData, errors) %}
  {% set inputType = "text" %}
  {% if field.type == "email" %}
    {% set inputType = "email" %}
  {% elif field.type == "tel" %}
    {% set inputType = "tel" %}
  {% endif %}

  <div class="govuk-form-group{% if errors and errors[field.name] %} govuk-form-group--error{% endif %}">
    <label class="govuk-label{% if field.labelClasses %} {{ field.labelClasses }}{% endif %}{% if field.label == page.title %} govuk-visually-hidden{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
    {{ fieldHint(field) }}
    {{ errorMessage(field.name, errors) }}
    <input
      class="govuk-input{% if errors and errors[field.name] %} govuk-input--error{% endif %}"
      id="{{ field.name }}"
      name="{{ field.name }}"
      type="{{ inputType }}"
      value="{{ answerData[field.name] or '' }}"
      {% if field.autocomplete %}autocomplete="{{ field.autocomplete }}"{% endif %}
      {% if field.hint or errors[field.name] %}aria-describedby="{{ describedBy(field, errors) }}"{% endif %}
    >
  </div>
{% endmacro %}

{% macro renderTextarea(field, answerData, errors) %}
  <div class="govuk-form-group{% if errors and errors[field.name] %} govuk-form-group--error{% endif %}">
    <label class="govuk-label{% if field.labelClasses %} {{ field.labelClasses }}{% endif %}{% if field.label == page.title %} govuk-visually-hidden{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
    {{ fieldHint(field) }}
    {{ errorMessage(field.name, errors) }}
    <textarea
      class="govuk-textarea{% if errors and errors[field.name] %} govuk-textarea--error{% endif %}"
      id="{{ field.name }}"
      name="{{ field.name }}"
      rows="5"
      {% if field.hint or errors[field.name] %}aria-describedby="{{ describedBy(field, errors) }}"{% endif %}
    >{{ answerData[field.name] or '' }}</textarea>
  </div>
{% endmacro %}

{% macro renderDate(field, answerData, errors) %}
  {% set dayName = field.name ~ "Day" %}
  {% set monthName = field.name ~ "Month" %}
  {% set yearName = field.name ~ "Year" %}
  <div class="govuk-form-group{% if errors and errors[dayName] %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="{{ field.name }}-hint{% if errors and errors[dayName] %} {{ dayName }}-error{% endif %}">
      <legend class="govuk-fieldset__legend{% if field.labelClasses %} {{ field.labelClasses }}{% endif %}{% if field.label == page.title %} govuk-visually-hidden{% endif %}">{{ field.label }}</legend>
      {% if field.hint %}
        <div id="{{ field.name }}-hint" class="govuk-hint">{{ field.hint }}</div>
      {% endif %}
      {{ errorMessage(dayName, errors) }}

      <div class="govuk-date-input" id="{{ field.name }}">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="{{ dayName }}">Day</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2{% if errors and errors[dayName] %} govuk-input--error{% endif %}" id="{{ dayName }}" name="{{ dayName }}" type="text" inputmode="numeric" value="{{ answerData[dayName] or '' }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="{{ monthName }}">Month</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2{% if errors and errors[dayName] %} govuk-input--error{% endif %}" id="{{ monthName }}" name="{{ monthName }}" type="text" inputmode="numeric" value="{{ answerData[monthName] or '' }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="{{ yearName }}">Year</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4{% if errors and errors[dayName] %} govuk-input--error{% endif %}" id="{{ yearName }}" name="{{ yearName }}" type="text" inputmode="numeric" value="{{ answerData[yearName] or '' }}">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro renderSelect(field, answerData, errors) %}
  <div class="govuk-form-group{% if errors and errors[field.name] %} govuk-form-group--error{% endif %}">
    <label class="govuk-label{% if field.labelClasses %} {{ field.labelClasses }}{% endif %}{% if field.label == page.title %} govuk-visually-hidden{% endif %}" for="{{ field.name }}">{{ field.label }}</label>
    {{ fieldHint(field) }}
    {{ errorMessage(field.name, errors) }}
    <select class="govuk-select{% if errors and errors[field.name] %} govuk-select--error{% endif %}" id="{{ field.name }}" name="{{ field.name }}" {% if field.hint or errors[field.name] %}aria-describedby="{{ describedBy(field, errors) }}"{% endif %}>
      <option value="">Please select</option>
      {% for item in field.items %}
        <option value="{{ item }}" {% if answerData[field.name] == item %}selected{% endif %}>{{ item }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro renderCheckboxGroup(field, answerData, errors) %}
  <div class="govuk-form-group{% if errors and errors[field.name] %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" {% if field.hint or errors[field.name] %}aria-describedby="{{ describedBy(field, errors) }}"{% endif %}>
      <legend class="govuk-fieldset__legend{% if field.labelClasses %} {{ field.labelClasses }}{% endif %}{% if field.label == page.title %} govuk-visually-hidden{% endif %}">{{ field.label }}</legend>
      {{ fieldHint(field) }}
      {{ errorMessage(field.name, errors) }}
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        {% for item in field.items %}
          {% set itemId = field.name if loop.first else field.name ~ "-" ~ loop.index %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="{{ itemId }}" name="{{ field.name }}" type="checkbox" value="{{ item }}" {% if answerData[field.name] and item in answerData[field.name] %}checked{% endif %}>
            <label class="govuk-label govuk-checkboxes__label" for="{{ itemId }}">{{ item }}</label>
          </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro renderRadios(field, answerData, errors) %}
  <div class="govuk-form-group{% if errors and errors[field.name] %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" {% if field.hint or errors[field.name] %}aria-describedby="{{ describedBy(field, errors) }}"{% endif %}>
      <legend class="govuk-fieldset__legend{% if field.labelClasses %} {{ field.labelClasses }}{% endif %}{% if field.label == page.title %} govuk-visually-hidden{% endif %}">{{ field.label }}</legend>
      {{ fieldHint(field) }}
      {{ errorMessage(field.name, errors) }}
      <div class="govuk-radios" data-module="govuk-radios">
        {% for item in field.items %}
          {% set itemId = field.name if loop.first else field.name ~ "-" ~ loop.index %}
          {% set conditionalId = "conditional-" ~ field.name ~ "-" ~ loop.index %}
          <div class="govuk-radios__item">
            <input
              class="govuk-radios__input"
              id="{{ itemId }}"
              name="{{ field.name }}"
              type="radio"
              value="{{ item }}"
              {% if field.conditional and item == field.conditional.value %}data-aria-controls="{{ conditionalId }}"{% endif %}
              {% if answerData[field.name] == item %}checked{% endif %}
            >
            <label class="govuk-label govuk-radios__label" for="{{ itemId }}">{{ item }}</label>
          </div>
          {% if field.conditional and item == field.conditional.value %}
            <div class="govuk-radios__conditional{% if answerData[field.name] != item %} govuk-radios__conditional--hidden{% endif %}" id="{{ conditionalId }}">
              {% for conditionalField in field.conditional.fields %}
                {{ renderField(conditionalField, answerData, errors) }}
              {% endfor %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro renderContactDetails(field, answerData, errors) %}
  {% set selectedContactMethods = answerData[field.name] or [] %}
  {% set emailId = field.emailName %}
  {% set phoneId = field.phoneName %}
  {% set emailConditionalId = "conditional-" ~ field.name ~ "-email" %}
  {% set phoneConditionalId = "conditional-" ~ field.name ~ "-phone" %}
  <div class="govuk-form-group{% if errors and errors[field.name] %} govuk-form-group--error{% endif %}">
    <fieldset class="govuk-fieldset" {% if field.hint or errors[field.name] %}aria-describedby="{{ field.name }}-hint{% if errors[field.name] %} {{ field.name }}-error{% endif %}"{% endif %}>
      <legend class="govuk-fieldset__legend govuk-visually-hidden">{{ field.label }}</legend>
      {{ fieldHint(field) }}
      {{ errorMessage(field.name, errors) }}
      <div class="govuk-checkboxes" data-module="govuk-checkboxes">
        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ field.name }}" name="{{ field.name }}" type="checkbox" value="Email" data-aria-controls="{{ emailConditionalId }}" {% if "Email" in selectedContactMethods %}checked{% endif %}>
          <label class="govuk-label govuk-checkboxes__label" for="{{ field.name }}">By Email</label>
          {% if field.emailConfirmationHint != "" %}
            <div class="govuk-hint govuk-checkboxes__hint">Confirmation we have received your referral will be sent here</div>
          {% endif %}
        </div>
        <div class="govuk-checkboxes__conditional{% if not ("Email" in selectedContactMethods) %} govuk-checkboxes__conditional--hidden{% endif %}" id="{{ emailConditionalId }}">
          <div class="govuk-form-group{% if errors and errors[emailId] %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="{{ emailId }}">{{ field.emailLabel or "Enter your email address" }}</label>
            {{ errorMessage(emailId, errors) }}
            <input class="govuk-input{% if errors and errors[emailId] %} govuk-input--error{% endif %}" id="{{ emailId }}" name="{{ emailId }}" type="email" value="{{ answerData[emailId] or '' }}" autocomplete="email" {% if errors and errors[emailId] %}aria-describedby="{{ emailId }}-error"{% endif %}>
          </div>
        </div>

        <div class="govuk-checkboxes__item">
          <input class="govuk-checkboxes__input" id="{{ field.name }}-2" name="{{ field.name }}" type="checkbox" value="Phone" data-aria-controls="{{ phoneConditionalId }}" {% if "Phone" in selectedContactMethods %}checked{% endif %}>
          <label class="govuk-label govuk-checkboxes__label" for="{{ field.name }}-2">By phone</label>
        </div>
        <div class="govuk-checkboxes__conditional{% if not ("Phone" in selectedContactMethods) %} govuk-checkboxes__conditional--hidden{% endif %}" id="{{ phoneConditionalId }}">
          <div class="govuk-form-group{% if errors and errors[phoneId] %} govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="{{ phoneId }}">{{ field.phoneLabel or "Enter your phone number" }}</label>
            <div id="{{ phoneId }}-hint" class="govuk-hint">For international numbers include the country code</div>
            {{ errorMessage(phoneId, errors) }}
            <input class="govuk-input{% if errors and errors[phoneId] %} govuk-input--error{% endif %}" id="{{ phoneId }}" name="{{ phoneId }}" type="tel" value="{{ answerData[phoneId] or '' }}" autocomplete="tel" aria-describedby="{{ phoneId }}-hint{% if errors and errors[phoneId] %} {{ phoneId }}-error{% endif %}">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
{% endmacro %}

{% macro renderAddress(answerData, errors) %}
  <div class="govuk-form-group{% if errors and errors.personAddressLine1 %} govuk-form-group--error{% endif %}">
    <label class="govuk-label" for="personAddressLine1">Address line 1</label>
    {{ errorMessage("personAddressLine1", errors) }}
    <input class="govuk-input{% if errors and errors.personAddressLine1 %} govuk-input--error{% endif %}" id="personAddressLine1" name="personAddressLine1" type="text" value="{{ answerData.personAddressLine1 or '' }}" autocomplete="address-line1">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="personAddressLine2">Address line 2 (optional)</label>
    <input class="govuk-input" id="personAddressLine2" name="personAddressLine2" type="text" value="{{ answerData.personAddressLine2 or '' }}" autocomplete="address-line2">
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="personTownOrCity">Town or city (optional)</label>
    <input class="govuk-input govuk-!-width-two-thirds" id="personTownOrCity" name="personTownOrCity" type="text" value="{{ answerData.personTownOrCity or '' }}" autocomplete="address-level2">
  </div>

  <div class="govuk-form-group{% if errors and errors.personPostcode %} govuk-form-group--error{% endif %}">
    <label class="govuk-label" for="personPostcode">Postcode</label>
    {{ errorMessage("personPostcode", errors) }}
    <input class="govuk-input govuk-input--width-10{% if errors and errors.personPostcode %} govuk-input--error{% endif %}" id="personPostcode" name="personPostcode" type="text" value="{{ answerData.personPostcode or '' }}" autocomplete="postal-code">
  </div>

  <details class="govuk-details" data-module="govuk-details" {% if answerData.personCurrentSituation %}open{% endif %}>
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">They do not have a permanent address</span>
    </summary>
    <div class="govuk-details__text">
      <div class="govuk-form-group{% if errors and errors.personCurrentSituation %} govuk-form-group--error{% endif %}">
        <label class="govuk-label govuk-visually-hidden" for="personCurrentSituation">Tell us about their current situation</label>
        <div id="personCurrentSituation-hint" class="govuk-hint">We need an address to pass their referral to the right area team. If they’re in temporary accommodation, use that address. If they’re homeless, tell us about their current situation</div>
        {{ errorMessage("personCurrentSituation", errors) }}
        <textarea class="govuk-textarea{% if errors and errors.personCurrentSituation %} govuk-textarea--error{% endif %}" id="personCurrentSituation" name="personCurrentSituation" rows="5" maxlength="200" aria-describedby="personCurrentSituation-hint personCurrentSituation-count{% if errors and errors.personCurrentSituation %} personCurrentSituation-error{% endif %}">{{ answerData.personCurrentSituation or '' }}</textarea>
        <div id="personCurrentSituation-count" class="govuk-hint">You can enter up to 200 characters</div>
      </div>
    </div>
  </details>
{% endmacro %}

{% macro renderField(field, answerData, errors) %}
  {% if field.type == "text" or field.type == "email" or field.type == "tel" %}
    {{ renderTextField(field, answerData, errors) }}
  {% elif field.type == "textarea" %}
    {{ renderTextarea(field, answerData, errors) }}
  {% elif field.type == "date" %}
    {{ renderDate(field, answerData, errors) }}
  {% elif field.type == "select" %}
    {{ renderSelect(field, answerData, errors) }}
  {% elif field.type == "checkboxGroup" %}
    {{ renderCheckboxGroup(field, answerData, errors) }}
  {% elif field.type == "radios" %}
    {{ renderRadios(field, answerData, errors) }}
  {% elif field.type == "contactDetails" %}
    {{ renderContactDetails(field, answerData, errors) }}
  {% elif field.type == "address" %}
    {{ renderAddress(answerData, errors) }}
  {% endif %}
{% endmacro %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="{{ backHref }}" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ errorSummary(errorList) }}

        <form action="{{ action or '/mental-health-referral/' ~ page.slug }}" method="post" novalidate>
          <span class="govuk-caption-m">Page {{ pageNumber or (page.index + 1) }}</span>
          <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">{{ page.title }}</h1>
          {% if page.hint %}
            <div class="govuk-hint">{{ page.hint }}</div>
          {% endif %}

          {% for field in page.fields %}
            {{ renderField(field, answerData, errors) }}
          {% endfor %}

          <div class="govuk-button-group">
            {{ LBCamdenButton({
              text: "Continue",
              preventDoubleClick: true
            }) }}
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
