{% extends "layouts/main.njk" %}
{% from "components/button/macro.njk" import LBCamdenButton %}

{% set pageTitle = "Refer someone for mental health social care support" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Refer someone for mental health social care support</h1>

        <p class="govuk-body-l">This is for professionals to refer someone with a primary mental health need for mental health social care.</p>

        <p class="govuk-body">For medical emergencies, psychiatric crisis or medication reviews, use the <a class="govuk-link" href="https://www.northlondonmentalhealth.nhs.uk/crisis-referrals-/">North London Foundation Trust (NLFT) crisis line</a> or call 999.</p>

        {{ LBCamdenButton({
          text: "Start now",
          href: "/mental-health-referral/your-details",
          isStartButton: true
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
