{% extends "layouts/main.njk" %}
{% from "components/button/macro.njk" import LBCamdenButton %}

{% set pageTitle = "Make a professional referral for mental health social care support" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Page 0</span>
        <h1 class="govuk-heading-xl">Make a professional referral for mental health social care support</h1>

        <p class="govuk-body">As a professional, you can refer someone for mental health social care support.</p>

        <h2 class="govuk-heading-l">Who can make a referral</h2>

        <p class="govuk-body">This referral process is for professionals, such as doctors, healthcare workers and carers.</p>

        <h2 class="govuk-heading-l">What you can make a referral for</h2>

        <p class="govuk-body">You can ask for help with mental health support for a Camden resident. This includes:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>social care and support needs assessment</li>
          <li>review of existing package of care</li>
          <li>deep clean or environmental health, such as hoarding</li>
          <li>carer support or assessment</li>
        </ul>

        <p class="govuk-body">This referral form is not for:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>safeguarding concerns, such as abuse or neglect</li>
          <li>signposting to volunteer teams, befriending or advocacy services. Ideally, you should signpost</li>
          <li>clinical treatment or medication management, which we cannot support with</li>
        </ul>

        <h3 class="govuk-heading-m">Safeguarding and crisis</h3>

        <p class="govuk-body">To report <a class="govuk-link" href="https://camdencarechoices.camden.gov.uk/reporting-abuse-and-staying-safe/what-is-safeguarding-adults/">safeguarding concerns</a>, call <a class="govuk-link" href="tel:02079744444">0207 974 4444</a> (Monday to Friday, 9am to 5pm) and when prompted say "Safeguarding".</p>

        <p class="govuk-body">For medical emergencies, psychiatric crisis or medication reviews, use the <a class="govuk-link" href="https://www.northlondonmentalhealth.nhs.uk/crisis-referrals-/">North London Foundation Trust (NLFT) crisis line</a> or call 999.</p>

        <h2 class="govuk-heading-l">Before you make a referral</h2>

        <p class="govuk-body">If you want to ask for help for yourself, speak to your GP or another professional involved in your care.</p>

        <p class="govuk-body">Before making a referral for someone else, there are 2 steps you should take first.</p>

        <h3 class="govuk-heading-m">Check they’re a Camden resident</h3>

        <p class="govuk-body">We can only accept referrals for Camden residents. Use the <a class="govuk-link" href="https://www.gov.uk/find-local-council">GOV.UK postcode checker</a> to check which local council the person you want to refer lives in.</p>

        <h3 class="govuk-heading-m">Get their details</h3>

        <p class="govuk-body">To refer someone, you need to know their:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>contact details</li>
          <li>date of birth</li>
          <li>address and living situation</li>
          <li>next of kin</li>
          <li>communication needs and any other reasonable adjustments</li>
        </ul>

        <p class="govuk-body">You’ll also be asked for their NHS number, if you know it.</p>

        <h2 class="govuk-heading-l">How to make a referral</h2>

        <p class="govuk-body">You can make a referral using our online form. You’ll be asked about:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>any clinical professionals involved in their care</li>
          <li>their confirmed or suspected diagnoses</li>
          <li>safety and environmental risks</li>
          <li>the reason you’re making this referral</li>
        </ul>

        <p class="govuk-body">You should provide as much detail as you can. The form will take about 20 minutes to complete.</p>

        {{ LBCamdenButton({
          text: "Make a referral",
          href: "/mental-health-referral/start-referral"
        }) }}

        <p class="govuk-body">If you need help filling the form in, call <a class="govuk-link" href="tel:02079744444">0207 974 4444</a> (Monday to Friday, 9am to 5pm) and when prompted say "Adult Social Care".</p>

        <p class="govuk-body">Those who use British Sign Language can also <a class="govuk-link" href="https://www.camden.gov.uk/bsl-support-contact-camden">speak to us using SignVideo</a>.</p>

        <h3 class="govuk-heading-m">What happens next</h3>

        <p class="govuk-body">Your referral will be processed within 1 working day, then it’ll be triaged by the mental health social care team.</p>

        <p class="govuk-body">If you’ve requested we contact you first, we’ll use the contact details you’ve provided. Otherwise, we’ll contact the person you’ve referred. If they cannot be reached, we’ll contact you or their next of kin.</p>
      </div>
    </div>
  </div>
{% endblock %}
