{% extends "layouts/main.njk" %}

{% set pageTitle = "Submission email" %}

{% block beforeContent %}
  <div class="govuk-width-container">
    <a href="/mental-health-referral/confirmation" class="govuk-back-link">Back</a>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-m">Page 33 of 33</span>

        <div class="app-email-preview">
          <p class="govuk-body govuk-!-font-weight-bold">mhsw.hub@camden</p>

          <p class="govuk-body">Thank you for making a referral for mental health social care</p>

          <p class="govuk-body">Your referral will be processed within 1 working day, then it’ll be triaged by the mental health social care team.</p>

          <p class="govuk-body">If you’ve requested we contact you first, we’ll use the contact details you’ve provided. Otherwise, we’ll contact the person you’ve referred or their next of kin if they cannot be reached.</p>

          <p class="govuk-body govuk-!-font-weight-bold">Useful information</p>
          <p class="govuk-body">If you have safeguarding concerns, such as abuse or neglect. Instead, call <a class="govuk-link" href="tel:02079744444">020 7974 4444</a> and when prompted say "Safeguarding". You can also report it by completing the <a class="govuk-link" href="https://www.camden.gov.uk/safeguarding-adults#qubd">Camden SAB multi-agency referral form</a> and emailing it to <a class="govuk-link" href="mailto:asc.mash.safeguarding@camden.gov.uk">asc.mash.safeguarding@camden.gov.uk</a>.</p>
          <p class="govuk-body">For medical emergencies, psychiatric crisis or medication reviews, use the <a class="govuk-link" href="https://www.northlondonmentalhealth.nhs.uk/crisis-referrals-/">North London Foundation Trust (NLFT) crisis line</a> or call 999.</p>
          <p class="govuk-body">If you’re worried about a child or young person, <a class="govuk-link" href="https://www.camden.gov.uk/are-you-worried-about-a-child">find ways to report a vulnerable child or child abuse</a>.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
